* {
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: Arial;
  background-color: #343a40;
  color: #99aab5;
  user-select: none;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #2f3136;
  border-radius: 2em;
}
::-webkit-scrollbar-thumb {
  background: #202225;
  border-radius: 2em;
}
::-webkit-scrollbar-thumb:hover {
  background: #202225;
}
.topnav {
  overflow: hidden;
  background-color: #2d3236;
  z-index: 99;
  border-bottom: 2px solid #5663f7;
  text-align: center;
}
.topnav .btnStyle {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 21px 24px;
  text-decoration: none;
  font-size: 17px;
}
.topnav .headerName {
  float: left;
  display: block;
  color: #fff;
  font-weight: 600;
  text-align: center;
  padding: 21px 24px;
  text-decoration: none;
  font-size: 17px;
}
.navdd:hover .navddbtn,
.topnav .headerName:hover {
  background-color: #36383e;
  color: #5663f7;
}
button:focus {
  border: 0;
  outline: 0;
}
.topnav .icon {
  display: none;
}
.navdd {
  float: left;
  overflow: hidden;
}
.navdd .navddbtn {
  font-size: 17px;
  border: 0;
  outline: 0;
  color: #fff;
  padding: 21px 24px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navdd-content {
  display: none;
  position: absolute;
  background-color: #2d3236;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 100;
}
.navdd-content .btnStyle {
  float: none;
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.navdd:hover .navddbtn,
.topnav .btnStyle:hover {
  background-color: #36383e;
  color: #5663f7;
}
.navdd-content .btnStyle:hover {
  background-color: #36383e;
  color: #5663f7;
}
.navdd:hover .navdd-content {
  display: block;
}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #343a40;
  height: 41px;
  color: #fff;
  text-align: center;
  z-index: 99;
  margin: 5px 5% 5px;
}
@media screen and (max-width: 800px) {
  .navdd .navddbtn,
  .topnav .btnStyle {
    display: none;
  }
  .topnav .btnStyle.icon {
    float: left;
    display: block;
  }
  .topnav .headerName {
    float: none;
    display: inline-block;
    color: #fff;
    font-weight: 600;
    text-align: center;
    padding: 21px 24px;
    text-decoration: none;
    font-size: 17px;
  }
}
.container {
  margin-left: 15%;
  margin-right: 15%;
}
.titleColumn {
  margin-top: -2%;
  margin-bottom: 10%;
  width: 100%;
  height: 60%;
  height: auto;
  text-align: center;
}
.titleH1 {
  color: #fff;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 700;
  font-size: 3.3em;
}
.titleText {
  font-size: 1.5em;
  margin-top: -0.6em;
}
.imgSize {
  animation: mover 2s linear infinite;
  width: 15em;
  height: 15em;
  padding: 65px 0 20px 0;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-2px);
  }
  30% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(3px);
  }
  80% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}
.homepageButton {
  width: 150px;
  height: 45px;
  color: #fff;
  font-weight: 700;
  background-color: #585a5c;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 14px -4px 2px 0;
  cursor: alias;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
  font-family: sans-serif;
}
.homepageButton:hover {
  background-color: #4a4c4f;
}
.homepageButton:active {
  background-color: #4a4c4f;
}
button:focus {
  border: 0;
  outline: 0;
}
.homepageInviteButton {
  width: 150px;
  height: 45px;
  color: #fff;
  font-weight: 700;
  background-color: #5663f7;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 14px 24px 2px 0;
  cursor: alias;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
  font-family: sans-serif;
}
.homepageInviteButton:hover {
  background-color: #404eed;
}
.homepageInviteButton:active {
  background-color: #404eed;
}
.featuresColumn {
  float: left;
  width: 50%;
  height: 250px;
  margin-bottom: 16px;
}
.customTitle {
  color: #7289da;
  padding-top: 15%;
  font-size: 2.15em;
}
.customText {
  font-family: Roboto, sans-serif;
  padding-right: 10%;
  color: #fff;
  font-size: 1.15em;
  font-weight: 400;
}
.levelTitle {
  color: #7289da;
  padding-top: 15%;
  font-size: 2.15em;
}
.levelText {
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 1.15em;
  font-weight: 400;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.topggBanner {
  text-align: center;
  margin-bottom: 1px;
}
@media screen and (max-width: 1300px) {
  .container {
    margin: 10%;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    margin: 5%;
  }
  .featuresColumn {
    height: 325px;
  }
}
@media screen and (max-width: 768px) {
  .featuresColumn {
    width: 100%;
    height: auto;
    margin: 10px;
  }
  .titleH1 {
    font-size: 40px;
  }
  .homepageButton {
    margin: 14px 7px 4px 7px;
  }
  .homepageInviteButton {
    margin: 14px 7px 4px 7px;
  }
}
@media screen and (max-width: 568px) {
  .homepageButton {
    margin: 5px;
  }
  .homepageInviteButton {
    margin: 5px;
  }
}
.partnerName {
  color: #5663f7;
  padding-top: 1%;
  font-size: 2.15em;
  margin: 0;
  text-align: center;
}
.container {
  margin-top: 1px;
  margin-bottom: 100px;
}
.commands {
  float: left;
  color: #000;
  width: 100%;
  height: 82vh;
  overflow-x: hidden;
}
code {
  color: #5663f7;
}
.active {
  background-color: #212529;
  border-radius: 6px 6px 0 0;
  -webkit-filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.5));
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 1500px) {
  .container {
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media screen and (max-width: 1050px) {
  .container {
    margin-left: 2%;
    margin-right: 2%;
  }
}
@media screen and (max-width: 768px) {
  .command {
    width: 100%;
  }
}
img.mr-3 {
  vertical-align: middle;
}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #343a40;
  height: 45px;
  color: #fff;
  text-align: center;
  z-index: 99;
  margin-top: 20px;
  user-select: none;
}
.gt {
  color: #fff;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: contents;
}
.mouse-cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  border-radius: 50%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  visibility: hidden;
}
.cursor-inner {
  margin-left: -3px;
  margin-top: -3px;
  width: 6px;
  height: 6px;
  z-index: 10000001;
  background-color: #ced0d4;
  -webkit-transition: width 0.3s ease-in-out, height 0.3s ease-in-out,
    margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out,
    margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.cursor-outer {
  margin-left: -15px;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  border: 2px solid #ced0d4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 10000000;
  opacity: 0.5;
  -webkit-transition: all 80ms ease-out;
  transition: all 80ms ease-out;
}
.topnav.responsive {
  position: relative;
}
.topnav.responsive .icon {
  position: absolute;
  left: 0;
  top: 0;
}
.topnav.responsive .btnStyle {
  float: none;
  display: block;
  text-align: center;
}
.navButton {
  display: none;
}
.topnav.responsive .navButton {
  text-align: center;
  float: none;
  padding: 8px 24px;
  display: inline-block;
  margin: 0;
}
.topnav.responsive .navdd {
  float: none;
  width: auto;
}
.topnav.responsive .navdd-content {
  position: relative;
}
.topnav.responsive .navdd .navddbtn {
  display: block;
  width: 100%;
  text-align: center;
}
#status.success {
  background-color: #5663f7;
  animation: status 4s ease forwards;
}
#status.error {
  background-color: #fa815c;
  color: white;
  animation: status 4s ease forwards;
}
.navButton {
  width: auto;
  height: auto;
  color: #fff;
  font-weight: 700;
  background-color: none;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 14px 24px 2px 0;
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 16px;
  border: 2px solid #5663f7;
  border-radius: 5px;
}
.navButton:hover {
  background-color: #404eed;
}
.navButton:active {
  background-color: #404eed;
}
.cursor-inner.cursor-hover {
  margin-left: -30px;
  margin-top: -30px;
  width: 60px;
  height: 60px;
  background-color: #ced0d4;
  opacity: 0.3;
}
.cursor-outer.cursor-hover {
  opacity: 0;
}
.ctr {
  width: 500px;
  max-width: 449px;
  margin: 60px auto;
  padding: 5px;
  border-radius: 8px;
  margin-bottom: 20px;
}
.form-group {
  width: 100%;
  margin-top: 0;
  font-size: 20px;
}
.form-group input,
.form-group textarea {
  outline: transparent;
  width: 91%;
  padding: 9px;
  background-color: #2d3236;
  font-size: 14px;
  border-radius: 10px;
  border: 3px solid #5663f7;
  color: #fff;
  resize: none;
}
#status {
    width: 86%;
    max-width: 500px;
    text-align: center;
    padding: 5px;
    border-radius: 22px;
    margin: 15px;
}
.card-body {
    background: #2a3036;
    border-radius: 10px;
    margin: 10px;
}
.partnerLogo{
     margin: 0;
    border-radius: 37px;
    width: 45px;
}
